<h1>Prognozowane oszczędności</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Przewiduj oszczędności</button>
</form>

<p><strong>Miesiąc:</strong> {{ selected_month }}</p>
<p><strong>Przychody:</strong> {{ przychody }}</p>
<p><strong>Wydatki:</strong> {{ wydatki }}</p>
<p><strong>Prognozowane oszczędności:</strong> {{ prognozowane_oszczednosci }}</p>

<h2>Prognoza na kolejne miesiące:</h2>

<table>
    <thead>
        <tr>
            <th>Miesiąc</th>
            <th>Przychody</th>
            <th>Wydatki</th>
            <th>Prognozowane oszczędności</th>
        </tr>
    </thead>
    <tbody>
        {% for month in future_months %}
        <tr>
            <td>{{ month.YearMonth }}</td>
            <td>{{ month.Przychody }}</td>
            <td>{{ month.Wydatki }}</td>
            <td>{{ month.Prognozowane_Oszczędności }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
