<!DOCTYPE html>
<html>
<head>
    <title>Lista płatności</title>
</head>
<body>
    <h1>Lista płatności</h1>
    <a href="{% url 'payment_create' %}">Dodaj nową płatność</a>
    <ul>
        {% for payment in payments %}
            <li>{{ payment.amount }} PLN - {{ payment.description }} - Data: {{ payment.payment_date }}
                <a href="{% url 'payment_update' payment.id %}">Edytuj</a>
                <form method="POST" action="{% url 'payment_delete' payment.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
