<!DOCTYPE html>
<html>
<head>
    <title>Lista kart</title>
</head>
<body>
    <h1>Lista kart</h1>
    <a href="{% url 'card_create' %}">Dodaj nową kartę</a>
    <ul>
        {% for card in cards %}
            <li>{{ card.card_number }} - {{ card.card_type }} ({{ card.balance }} PLN) - Bank: {{ card.bank_name }} - CVV: {{ card.cvv }}
                <a href="{% url 'card_update' card.id %}">Edytuj</a>
                <form method="POST" action="{% url 'card_delete' card.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
