<!DOCTYPE html>
<html>
<head>
    <title>Lista powiadomień</title>
</head>
<body>
    <h1>Lista powiadomień</h1>
    <a href="{% url 'notification_create' %}">Dodaj nowe powiadomienie</a>
    <ul>
        {% for notification in notifications %}
            <li>{{ notification.message }} - {{ notification.created_at }}
                <a href="{% url 'notification_update' notification.id %}">Edytuj</a>
                <form method="POST" action="{% url 'notification_delete' notification.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
