<!DOCTYPE html>
<html>
<head>
    <title>Lista przelewów</title>
</head>
<body>
    <h1>Lista przelewów</h1>
    <a href="{% url 'transfer_create' %}">Dodaj nowy przelew</a>
    <ul>
        {% for transfer in transfers %}
            <li>{{ transfer.amount }} PLN - {{ transfer.description }} - Data: {{ transfer.transfer_date }}
                <a href="{% url 'transfer_update' transfer.id %}">Edytuj</a>
                <form method="POST" action="{% url 'transfer_delete' transfer.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
