<!DOCTYPE html>
<html>
<head>
    <title>Lista kategorii</title>
</head>
<body>
    <h1>Lista kategorii</h1>
    <a href="{% url 'category_create' %}">Dodaj nową kategorię</a>
    <ul>
        {% for category in categories %}
            <li>{{ category.category_name }} - {{ category.category_type }}
                <a href="{% url 'category_update' category.id %}">Edytuj</a>
                <form method="POST" action="{% url 'category_delete' category.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
